<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <b class="navbar-brand">阿坤解題</b>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= pageName == 'ques-list' ? 'active': '' %>">
        <a class="nav-link" href="/question/list">Home</a>
      </li>
      <li class="nav-item <%= pageName == 'ques-add' ? 'active': '' %>">
        <a class="nav-link" href="/question/add">AskQuestion</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"style="color:white !important;">
            小憩一下
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/games/eatingSnake_noWall/snakeNoWall.html" target="_blank">貪吃蛇</a>
            <a class="dropdown-item" href="/games/mask/mask.html" target="_blank">口罩大進擊</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <% if(locals.member && locals.member.email) { %>
        <li class="nav-item">
          <a class="nav-link" style="color:yellow !important;"><b><%= locals.member.name %></b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/question/logout" style="color:white !important;">登出</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/question/login" style="color:white !important;">會員登入</a>
        </li>
        <% } %>

      </ul>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<style>
  #navbarSupportedContent .nav-item.active {
    /* #6fcddb */
    background-color: yellowgreen;
    border-radius: 5px;
  }
</style>